<a href="https://colab.research.google.com/github/poobalan30/machine-learning-project/blob/staging/Poobalan_long_track_Python_project_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Prediction of Loan Approval using machine learning**

This Loan approval data - Loan Status
(target	loan status)
(dependant	y/n)
(not needed	loan id)
(cleaning	dependant)

#detailed explaintion of the csv and what is shows and what is the predicted result 
# using what algo

# **Step 1:Import necessary libraries**

In [ ]:
# 'Numpy' is used for mathematical operations on large, multi-dimensional arrays and matrices
import numpy as np

In [ ]:
# 'Pandas' is used for data manipulation and analysis
import pandas as pd

In [ ]:
# 'Matplotlib' is a data visualization library for 2D and 3D plots, built on numpy
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

# **Step 2:Import the data inside google colab**

In [ ]:
# loading the data and setting the unique client_id as the index::

#df = pd.read_csv('/content/loanapprov.csv', index_col = 'Loan_Status')
df = pd.read_csv('/content/loanapprov.csv') # index_col = 'Loan_ID')

# **Step 3:Data Exploration**

In [ ]:
# # showing the first 5 rows of the dataset:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
# To check the Dimensions of the dataset:
df.shape

(614, 13)

In [ ]:
# Checking the info of the data:
## data cleaning for null values 0,1//..
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
#Checking the datatypes of the columns
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [ ]:
# Summary Statistics for Categorical data:
df.describe(exclude=[np.number])

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
count,614,601,611,599,614,582,614,614
unique,614,2,2,4,2,2,3,2
top,LP001002,Male,Yes,0,Graduate,No,Semiurban,Y
freq,1,489,398,345,480,500,233,422

In [ ]:
#check missing values
# use isnull().sum() to check for missing values 
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# **Step 4:Data Cleaning**

Check for missing values,duplicate values,categorical values and outliers and handle them accordingly.

Consider the table is read using variable "df" Then, use the functions like


1.   Check for the column datas types and customise the datatype if necessary
2.   df.isna().sum()
3.   df['colname'].fillna()
4.   df[df.duplicated()]
5.   df.drop_duplicates()
6.   Use box plot to check for outliers
7.   Remove the outliers by any technique
8.   Scaling of numerical features
9.   Encode the categorical data into numerical
10.  Display the clean data

In [ ]:
# just follow 10 steps above

# can remove the unwanted 

#df = df[-'Loan_ID']
del df['Loan_ID']
df

# DATA convertion - DO i require this?
# loan_id:

# df['Loan_Status'] = df['Loan_Status'].astype('category')

# repaid:

#df['repaid'] = df['repaid'].astype('category')

# fix missing value first

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
# DATA convertion - DO i require this?
# loan_id:

df['Loan_Status'] = df['Loan_Status'].astype('category')
df['Loan_Status'] = df['Loan_Status'].astype('category')
# repaid:

#df['repaid'] = df['repaid'].astype('category')

In [ ]:
#Factorize the data
for i in df.columns:
    if df[i].dtypes=='object':
        df[i] = pd.Categorical(pd.factorize(df[i])[0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    category
dtypes: category(1), float64(4), int64(1), object(6)
memory usage: 53.6+ KB

In [ ]:
# Loan_ID is not needed and it need to be removed

In [ ]:
# Depnedant column need standardization

# **Step 5:Data Visualization**
Explain the findings on visualizing the data
(Create atleast 5 charts using matplotlib and seaborne)and one chart using sweet Viz tool

# **Step 6: Data Splitting into train and test**

# **Step 7: Model Building**

# **Step 8: Model Validation**

# **Step 9:Model Evaluation and Visualization**

#**Step 10: Creating WebApp using Streamlit**